.model-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 15px;
}

.seat-input::-webkit-outer-spin-button,
.seat-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.seat-input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}
